config.json
.DS_Store
.idea
__pycache__
class-metadata.json
method-metadata.json
get-all-parameters-for-all-methods.csv
get-imports-of-class.csv
get-local-variables-for-all-methods.csv
get-methods-of-class.csv
get-variables-of-class.csv